* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    font-family: "Heebo", sans-serif;
  }
  
  .landing {
    min-height: 150vh;
    background: url("./hero.jpg");
    background-size: cover;
    padding: 2rem 5rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
  }
  .nav-links {
    display: flex;
    list-style: none;
  }
  .nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;
  }
  #logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
  }
  
  .big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: rgb(35, 158, 193);
  }
  
  .intro {
    background: rgb(222, 175, 33);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    background: rgb(222, 175, 33);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  
  .hide {
    background: rgb(222, 175, 33);
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  
  .media ul {
    list-style: none;
    position: fixed;
    right: 20px;
    top: 63%;
    padding: 10px 10px;
  }
  
  .media ul li {
    cursor: pointer;
    font-size: 18px;
    margin: 24px 0;
    transition: .3s;
  }
  
  .home {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.menu-div {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-div:hover {
    color: gray;
    transition: all 0.2s ease-in-out;
}

.menu {
  opacity: 0.3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  position: fixed;
  top: -100%;
  align-items: center;
  background-color: rgb(39, 39, 39);
}

.nav {
  opacity: 0;
  margin-bottom: -20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: gray;
  transition: all 0.2s ease-in-out;
}

.background {
  position: absolute;
  font-size: 15rem;
  font-weight: 600;
  color: rgba(235, 235, 235, 0.04);
  user-select: none;
  z-index: 1;
}

.small-number {
  font-size: 1.2rem;
}

.exit {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
}

.title {
  font-size: 2rem;
  color: rgb(170, 151, 126);
}

.right {
  padding-right: 50px;
}

.information {
  margin-bottom: 24px;
}

.menu-container {
  z-index: 3;
}

.social-medias > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* Media Query */
@media screen and (max-width: 100px) {
  .menu {
      flex-direction: column;
      justify-content: left;
  }

  .right {
      display: none;
  }
}